{% load staticfiles %} 
<script type="" src="{% static 'process/bower_components/jquery/dist/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'process/bower_components/bootstrap/dist/css/bootstrap_Lumen.css' %}" />
<script type="" src="{% static 'process/bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

<h1>Report List</h1>

{% if latest_report_list %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Tilte</th>
				<th>End Date</th>
				<th>Progress</th>
			</tr>
		</thead>
		<tbody>			
			{% for report in latest_report_list.all %}
			<tr>
				<td>
					<a href="{% url 'process:reportDetail' report.id %}" class="btn btn-default">{{ report.title }} <span class="glyphicon glyphicon-menu-hamburger"></span></a>
				</td>
				<td>{{ report.endDate }}</td>
				<td>
					{{ report.completed_stages_count }} / {{ report.stage.all.count }}

				</td>

			</tr>

			{% endfor %}
		</tbody>
	</table>

{% else %}
	<p>No polls are available.</p>
{% endif %}